body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
}

#right {
    font-weight: bold;
    color: #777;
}

section {
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ccc;
}

/* Styling for the left and right content sections */
.left, .right {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for the image */
#profile-image {
    width: 150px; /* Set the desired width */
}
